{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>My portfolio</title>

        <!-- CSS And JavaScript -->
        <link rel="stylesheet"
            href="//fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap">
        <link rel="stylesheet"
            href="//fonts.googleapis.com/css?family=Permanent+Marker&display=swap">
        <link rel="stylesheet"
            href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet"
            href="{% static 'portfolio/style.css' %}">

    </head>
    <body bgcolor="#f5f5f5" >
        <script src="https://kit.fontawesome.com/c721bc43c6.js"
            crossorigin="anonymous"></script>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer>
        <div class = "title">
            <div class = "link">
                <a href = "{% url 'portfolio:add_works' %}">管理用ページへ</a>
            </div>

        </div>
    </footer>
</html>
