#onload_back{
  background-color: gray;
  z-index: 5000;
}

#onload_box{
  position: absolute;
  z-index: 9999;
  padding: 50px 100px;
  width: 50%;
  height:20%;
	top: 50%;
	left: 50%;

  /*指定した要素の高さ，幅に対して相対指定 */
	transform: translate(-50%, -50%);

  font-size: xx-large;
  text-align: center;

  border-top: 30px solid #2E94B9;
  border-left: 30px solid #FFFDC0;
  border-right: 30px solid #F0B775;
  border-bottom: 30px solid #D25565;

  background-color: #f5f5f5;
}

#onload_box.on{
  animation: rotation 1s ease-in-out 0s 1 forwards, open 1.2s ease-in-out 1.5s 1 forwards;
}

#onload_box.re{
  animation: open;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  animation-delay: 1s;
  animation-timing-function:ease-in-out;
}

@keyframes rotation {
  0%{
    width:100%;
    height:100%;

    transform: rotate(0deg);
  }
  100%{
    width:0;
    height:0;
    padding:0px;
    transform: rotate(900deg)
  }
}

@keyframes open {
  0%{
    width:0;
    height:0;
    padding:0px;
    opacity:0;
    transform: rotate(0deg);
  }
  100%{
    width:calc(100% - 60px);
    height:calc(100vh - 60px - 10vh + 5px);
    padding:0px;
    top:0;
    left:0;
    border: 30px solid #a9a9a9;
    background-color: rgba(0,0,0,0);
    transform: rotate(900deg)
  }
}

#message{
}

#onload_button{
  position: absolute;
  text-decoration: none;
  color: gray;
  bottom: 30px;
}

#main.on{
  display: none;
  opacity: 1;
  animation: fade-in;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  0%{
    display: none;
    opacity:0;
  }
  50%{
    display: inline-block;
    opacity: 0;
  }
  100%{
    display: inline-block;
    opacity: 1;
  }
}

#main{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align:  center;
}

/* heading */
.heading{
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  margin: 50px auto;
  background: linear-gradient(transparent 70%,  #cd5c5c 70%);
  display: inline-block;
}

.triangle{
  color:gray;
  margin:40px;
  font-size: xx-large;
}

/* about */
.about{
  text-align:  center;
  margin-bottom: 50px;
}

.about .inner{
  display: block;
  padding-top: 30px;
  padding-bottom: 10px;
}

.about .inner img{
  width: 20%;
  border-radius: 50%;
	display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}

.about .inner ul {
	list-style: none;
	display: inline-block;
  vertical-align:  middle;
  background-color: #fff;
  /*opacity: 0.8;*/
  padding: 20px;
  border-radius: 10px;
}

.about .inner ul li {
  font-family: 'M PLUS Rounded 1c', sans-serif;
	text-align: left;
  line-height: 2.5em;
  font-size: 20px;
}

.about a{
  text-decoration: none;
}
.about i{
  margin-right: 10px;
}



/* title */

.title {
    text-align:  center;
    width: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

.title .text {
  position: relative;
}

.title .text p{
  position: absolute;
  font-size: 400%;
  font-family: 'Permanent Marker', cursive;
  background-color: #a9a9a9;
  bottom: 50vh;
  width: 100%;
}

.title .text img{
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.title .link{
  width: 100%;
  background-color: #cd5c5c;
  display: flex;
}

.title .link a{
  padding: 20px;
  height:10vh;
  color: #f5f5f5;
  text-decoration: none;
	width: 100%;
}

.toplink{
  width: 100%;
  height:10vh;
  background-color: #cd5c5c;
  display: flex;

  /* スクロールに追従 */
  position: -webkit-sticky;/*Safari用ベンダープレフィックス*/
  position: sticky;
  top: 0px;
}

.toplink a{
  padding: 30px;
  color: #f5f5f5;
  text-decoration: none;
	width: 100%;
  font-size: xx-large;
  font-weight: bold;


}

.title .link a:hover,  .toplink a:hover{
    text-decoration: underline dotted #f5f5f5;
}

/* works */

.works{
  text-align:  center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.works .card {
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 6px #ccc;
    padding: 20px;
}

.works img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px 5px 0 0;
    margin-top:10px;
}

.works .title {
    font-size: 120%;
    font-weight:bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding:10px;
    color: #444;
    width: auto;
    background-color: #f5f5f5;
}

.works .content {
    padding-bottom: 10px;
    color: #666;
  	display: inline-block;
    text-align: left;
    line-height: 1.5em
}

.works .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.works a{
    color: #444;
    padding: 5px;
    margin-top: 10px;
    text-decoration: none;
}

.works a:hover{
    color: #660099;
}

.works .item {
    font-size: 80%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ed6d3d;
    color: #ed6d3d;
    background-color: transparent;
}

/* activity */
.activity{
  background-color: rgba(255, 255, 255 ,0.5);
  width:70%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 30px;
}

.activity .col{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.activity .col .item{
  font-size: medium;
  font-weight: bold;
  margin: 30px 20px;
}

.activity .box{
  margin-bottom: 30px;
  text-align: left;
}

.activity .box .top{
  text-align: left;
  vertical-align: baseline;
}

.activity .box .top .text{
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
}

.activity .box .top .date{
  display: inline-block;
  font-size: medium;
  margin-left: 10px;
}

.activity .box .contents{
  line-height: 1.5em;
  border-left: 3px solid #666;
  padding-left: 20px;
}
