
{% extends 'portfolio/base.html' %}

{% block content %}
<div class="main">

    <div class = "title">
        <div class = "text">
            {% load static %}
            <p> {{title}} </p>
            <img src="{% static 'portfolio/background1.jpg' %}" />
        </div>
        <div class="toplink">
          <a href="#profile">profile</a>
          <a href="#works">works</a>
          <a href="#activity">activity</a>
        </div>
    </div>

    <a id="profile">
      <div class="heading"> Profile </div>
    </a>
    <div class="about">
      <div class="inner">
      {% load static %}
      <img src="{% static 'portfolio/myimage.jpg' %}" />

      <ul>
      {% for key, value in info.items %}
        <li><b>{{ key }}</b> &nbsp; {{ value }}</li>
      {% endfor %}

      <li>
        <a href="{{urls.github}}"><i class="fab fa-github"></i>{{urls.github}}</a>
      </li>
      <li>
        <a href="mailto:{{urls.email}}"><i class="far fa-envelope"></i>{{urls.email}}</a>
      </li>
      </ul>
    </div>
    </div>

    <a id="works">
      <div class="heading"> Works </div>
    </a>
    <div class="works">
      {% for post in posts %}
      <div class="card">
        <img src="{{ post.image.url }}">
        <p class="title">{{ post.title }}</p>
        <p class="content">{{ post.contents }}</p>
        <div class="box">
        {% for l in post.split_tools %}
            <div class=item>{{ l }}
        </div>
        {% endfor %}</div>
        <div class="box">
        {% if post.url %}
            <a href='{{post.url}}'><i class="fab fa-github"></i> source code </a>
        {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <a id="activity">
      <div class="heading"> Activity </div>
    </a>
    <div class="activity">
      <div class="col">
      <span style="color:#234990" class="item">
        <i class="fas fa-graduation-cap" style="margin-right:10px"></i>研究</span>
      <span style="color:#EC3D33" class="item">
        <i class="fas fa-school" style="margin-right:10px"></i>学校生活</span>
      <span style="color:#F5B12E" class="item">
        <i class="fas fa-running" style="margin-right:10px"></i>その他</span>
      </div>

      {% for post in posts_activity %}
      <div class="box">
        <div class="top">
          {% if post.category == "0" %}
            <div class="text" style="color:#234990">
              <i class="fas fa-graduation-cap" style="margin-right:10px"></i>
              {{ post.title }}</div>
          {% elif post.category == "1" %}
            <div class="text" style="color:#EC3D33">
              <i class="fas fa-school" style="margin-right:10px"></i>
              {{ post.title }}</div>
          {% elif post.category == "2" %}
            <div class="text" style="color:#F5B12E" >
              <i class="fas fa-running" style="margin-right:10px"></i>
              {{ post.title }}</div>
          {% endif %}
          <div class="date">{{post.date}}</div>
        </div>
        {% if post.contents %}
          <p class="contents">{{ post.contents }}</p>
        {% endif %}

      </div>
      {% endfor %}

    </div>

</div>

{% endblock %}
